.header-nav-inner .text-xxs li a {
    background: #fcc62d;
    color: black;
    margin:1px;
    width:120px;
}

ul.list-reset li a.offbutton {
    color: black!important;
    padding: 0 5px;
    margin:1px;
    width:120px;
    text-align: center;
}