name: Deploy via ftp
on: 
  push:
    branches:
      - gh-pages
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Checkout gh-pages
      uses: actions/checkout@v2
      with:
        ref: 'gh-pages'
    - name: Upload ftp
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        ref: 'gh-pages'
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: "./"
        server-dir: "domains/phys.hcmus.edu.vn/public_html/ICEBA2023/"
        exclude: |
          **/.git*
          **/.git*/**
          **/node_modules/**
        timeout: 120000
